doctype html
html
	head
		title Manage paper
		include bootstrap-css.pug

	body
		include navbar.pug

		div.container
			include error-notifs.pug

			div.row#issued-paper-header
				h1.content-header
					span.table-with-button-header-text Issued paper
					a(href="/paper/issue").btn.btn-success.pull-right
						span.glyphicon.glyphicon-plus-sign.button-glyphicon
						span.button-text Issue
			div.row#issued-paper-table
				table.table.table-striped.table-hover
					thead
						th CUSIP
						th Par
						th Discount
						th Quantity
						th Maturity
						th Issued
					if issuedPapers && issuedPapers.length > 0
						tbody
						each paper in issuedPapers
							- var issuedDate = new Date(paper.issuedTimestamp)
							- var issuedDateString = issuedDate.toDateString()
							- var maturityDate = new Date()
							- maturityDate.setDate(issuedDate.getDate() + paper.maturity)
							- var maturityDateString = maturityDate.toDateString();
							tr
								td= paper.CUSIP
								td= '$' + paper.par.toFixed(2)
								td= (paper.discount * 100).toFixed(2) + '%'
								td= paper.quantityIssued
								td= maturityDateString + ' (' + paper.maturity + ' days)'
								td= issuedDateString

			div.row#owned-paper-header
				h1.content-header
					span.table-with-button-header-text Owned paper
					a(href="/paper/purchase").btn.btn-success.pull-right
						span.glyphicon.glyphicon-plus-sign.button-glyphicon
						span.button-text Purchase
			div.row#owned-paper-table
				table.table.table-striped.table-hover
					thead
						th CUSIP
						th Issued by
						th Par
						th Discount
						th Owned
						th Selling
						th Maturity
					if ownerships && ownerships.length > 0
						tbody
						each ownership in ownerships
							- var paper = ownership.paperObject
							- var issuedDate = new Date(paper.issuedTimestamp)
							- var issuedDateString = issuedDate.toDateString()
							- var maturityDate = new Date()
							- maturityDate.setDate(issuedDate.getDate() + paper.maturity)
							- var maturityDateString = maturityDate.toDateString();
							tr
								td= paper.CUSIP
								td= getEntityNameFromFullyQualifiedName(paper.issuer)
								td= '$' + paper.par.toFixed(2)
								td= (paper.discount * 100).toFixed(2) + '%'
								td= ownership.quantity
								td= ownership.quantityForSale
								td= maturityDateString
		
		include bootstrap-js.pug